type: YUGABYTE
driver: com.yugabyte.Driver
url: jdbc:yugabytedb://localhost:5433/yugabyte?sslmode=disable&ApplicationName=featurebench&reWriteBatchedInserts=true
username: yugabyte
password:
batchsize: 128
isolation: TRANSACTION_REPEATABLE_READ
loaderthreads: 1
collect_pg_stat_statements: true
terminals: 1
works:
    work:
        time_secs: 5
        active_terminals: 1
        rate: 1000
        warmup: 0
microbenchmark:
    class: com.oltpbenchmark.benchmarks.featurebench.customworkload.YBDefaultMicroBenchmark
    properties:
        setAutoCommit : true
        create:
            - DROP TABLE IF EXISTS demo100col;
            - CREATE TABLE demo100col (id INT, col1 TEXT, primary key (id ASC)) ;
        loadRules:
            -   table: demo100col
                rows: 10
                columns:
                    -   name: id
                        util: PrimaryIntGen
                        params:
                            - 1
                            - 1000
                    -   name: col1
                        util: RandomStringNumeric
                        params:
                            - 128
        executeRules:
            - workload: RangeScan1
              run:
                  -   name: WriteQuery2
                      weight: 100
                      queries:
                          -   query: select * from demo100col where id > ? and id < ?
                              bindings:
                                  -   util: RandomInt
                                      alias: param1
                                      params:
                                          - 1
                                          - 10
                                  -   util: ApplyAlias
                                      params: param1 + 10

